<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Eliminar conductor {{id}}</mat-card-title>
        <mat-card-subtitle>Esta seguro ?</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button mat-button color="primary" (click)="cancel()">Cancel</button>
        <button mat-button color="primary" (click)="delete()">Delete</button>
    </mat-card-actions>
</mat-card>