<form [formGroup]="formBus" (ngSubmit)="onSubmit()" class="form">
    <h3>Registrar Bus</h3>
    <mat-form-field>
        <mat-label>License Plate</mat-label>
        <input matInput placeholder="LicensePlate" formControlName="licensePlate"/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Brand</mat-label>
        <input matInput placeholder="Brand" formControlName="brand"/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Model</mat-label>
        <input matInput placeholder="Model" formControlName="model"/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Seats</mat-label>
        <input type="number" matInput placeholder="Seats" formControlName="seats"/>
    </mat-form-field>
    <button mat-button color="primary" type="submit">Guardar</button>
</form>