<form [formGroup]="conductorForm" (ngSubmit)="onSubmit()" class="form">
    <h2>Actualizar Conductor</h2>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name"/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" formControlName="lastName"/>
    </mat-form-field>
    <button mat-button type="submit">Guardar</button>
</form>