<button mat-button color="primary" (click)="openCreateBusDialg()">Nuevo</button>
<mat-card *ngFor="let bus of buses">
    <mat-card-header>
        <mat-card-title>{{bus.brand + " " + bus.licensePlate + " "+ bus.model}}</mat-card-title>
        <mat-card-subtitle>{{bus.seats}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button mat-button color="primary" (click)="openUpdateBusDialg(bus.id)">Update</button>
        <button mat-button color="primary" (click)="openDeleteBusDialg(bus.id)">Delete</button>
    </mat-card-actions>
</mat-card>