<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Eliminar bus stop {{id}}</mat-card-title>
        <mat-card-subtitle>Esta seguro ?</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button mat-button color="primary" (click)="cancel()">Cancelar</button>
        <button mat-button color="primary" (click)="delete()">Eliminar</button>
    </mat-card-actions>
</mat-card>