<form [formGroup]="formBusStop" (ngSubmit)="onSubmit()" class="form">
    <h4>Actualizar Parada</h4>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name"/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput placeholder="Description" formControlName="description"/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Latitude</mat-label>
        <input matInput placeholder="Latitude" formControlName="latitude"/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Longitude</mat-label>
        <input matInput placeholder="Longitude" formControlName="longitude"/>
    </mat-form-field>
    <button mat-button color="primary" type="submit">Guardar</button>
</form>