<button mat-button color="primary" (click)="openCreateDialog()">Nuevo</button>
<mat-card *ngFor="let conductor of conductors">
    <mat-card-header>
        <mat-card-title>{{conductor.name}}</mat-card-title>
        <mat-card-subtitle>{{conductor.lastName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>{{conductor.hireDate}}</mat-card-content>
    <mat-card-actions>
        <button mat-button color="primary" (click)="openUpdateDialog(conductor.id)">Update</button>
        <button mat-button color="primary" (click)="openDeleteDialog(conductor.id)">Delete</button>
    </mat-card-actions>
</mat-card>