<button mat-button color="primary" (click)="openCreateDialog()">Nuevo</button>
<mat-card *ngFor="let parada of busStops" class="card">
    <mat-card-header>
        <mat-card-title>{{parada.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
        <button mat-button color="primary" (click)="openUpdateDialog(parada.id)">Update</button>
        <button mat-button color="primary" (click)="openDeleteDialog(parada.id)">Delete</button>
    </mat-card-actions>
</mat-card>