<mat-toolbar  color="primary">
  <span>Busmac</span>
  <button mat-icon-button class="example-icon" [routerLink]="['/bus']" aria-label="Cards">
    <mat-icon>credit_card</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" [routerLink]="['/conductor']" aria-label="Contacts">
    <mat-icon>people</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" [routerLink]="['/bus_stop']" aria-label="Admin">
    <mat-icon>admin_panel_settings</mat-icon>
  </button>
</mat-toolbar>
